{% block nlcollection_javascript %}
{% spaceless %}
    {{ block('nlcollection_javascript_' ~ widget_type) }}
{% endspaceless %}
{% endblock nlcollection_javascript %}

{% block nlcollection_widget %}
{% spaceless %}
    {{ block('nlcollection_widget_' ~ widget_type) }}
{% endspaceless %}
{% endblock %}

{% block nlcollection_javascript_table %}
{% spaceless %}
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
    <script type="text/javascript">
        $(document).ready(function() {
            var items{{ name|capitalize }}Count = {{ form|length }};

            $('#add-{{ name }}-{{ id }}').click(function() {
                {# получение шаблона для добавления нового значения  #}
                var valueList       = $('#edit_{{ name }}-{{ id }}');
                var newWidget       = valueList.data('prototype');
                var newJavascript   = valueList.data('javascript-prototype');
                newWidget           = newWidget.replace(/{{ prototype_name }}/g, items{{ name|capitalize }}Count);
                newJavascript       = newJavascript.replace(/{{ prototype_name }}/g, items{{ name|capitalize }}Count);
                {% if 'pre_add' in callbacks|keys %}
                    {{ callbacks.pre_add|raw }}
                {% endif %}

                items{{ name|capitalize }}Count ++;

                {# добавление нового поля и ссылка для его удаления #}
                var $newItem = $(newWidget);
                valueList.children("tbody").append($newItem);
                {% if allow_delete %}
                    addTagFormDeleteLink{{ name }}($($newItem).first());
                {% endif %}
                $(newJavascript).appendTo(document.head);
                {% if 'post_add' in callbacks|keys %}
                    {{ callbacks.post_add|raw }}
                {% endif %}
                return false;
            });

            {# добавление ссылки на удаление для существующих значений #}
            {% if allow_delete %}
                $('#edit_{{ name }}-{{ id }} > tbody > tr.item').not('ul.errors li').each(function() {
                    addTagFormDeleteLink{{ name }}($(this));
                });
            {% endif %}
        });

        function addTagFormDeleteLink{{ name }}($tagForm) {
            var $removeFormA = $('<a href="#" class="link_icon_mini"><i class="i_delete"></i></a>');
            {% if 'pre_append_delete_link' in callbacks|keys %}
                {{ callbacks.pre_append_delete_link|raw }}
            {% endif %}
            $tagForm.find('td').last()
                .addClass('footable-last-column')
                .append($removeFormA);

            $removeFormA.on('click', function(e) {
                {% if 'pre_remove' in callbacks|keys %}
                    {{ callbacks.pre_remove|raw }}
                {% endif %}
                e.preventDefault();
                {% if (removing_message is defined) and (removing_message is not empty) %}
                    if (confirm("{{ removing_message|trans({}, translation_domain) }}")) {
                        $tagForm.remove();
                    }
                {% else %}
                    $tagForm.remove();
                {% endif %}
                {% if 'post_remove' in callbacks|keys %}
                    {{ callbacks.post_remove|raw }}
                {% endif %}
            });
        }
    </script>
{% endspaceless %}
{% endblock nlcollection_javascript_table %}

{% block nlcollection_widget_table %}
    <table class="nlcollection table table_responsive" id="edit_{{ name }}-{{ id }}" data-prototype='{{ prototype is defined ? form_widget(prototype)|e('html') : '' }}' data-javascript-prototype="{{ prototype is defined ? form_javascript(prototype)|escape('html') : '' }}">
        <thead>
            {% for item, options in theads %}
                <th class="list_thead_column footable-visible" data-hide="{{ options.hide|default('') }}">
                    {% if options.label is defined %}
                        {{ options.label|trans({}, form|first.vars.translation_domain|default('NitraProductBundleProduct')) }}
                    {% elseif form|first[item] is defined %}
                        {{ form|first[item].vars.label|trans({}, form|first.vars.translation_domain|default('NitraProductBundleProduct')) }}
                    {% endif %}
                </th>
            {% endfor %}
        </thead>
        <tbody>
            {% for child in form %}
                {% if child.vars.errors|length %}
                    <tr>
                        {{ form_errors(child) }}
                    </tr>
                {% endif %}
                {{ form_widget(child) }}
            {% endfor %}
        </tbody>
    </table>

    {% if prototype is defined %}
        <a class="button_add button_icon i_new" href="#" id="add-{{ name }}-{{ id }}">{{ add_label|trans({}, translation_domain)|trans({}, "NitraNlCollectionBundle") }}</a>
    {% endif %}
{% endblock nlcollection_widget_table %}

{% block nlcollection_javascript_ul %}
{% spaceless %}
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
    <script type="text/javascript">
        $(document).ready(function() {
            var items{{ name|capitalize }}Count = {{ form|keys ? (max(form|keys) + 1) : form|length }};

            $('#add-{{ name }}-{{ id }}').click(function() {
                {# получение шаблона для добавления нового значения  #}
                var valueList       = $('#edit_{{ name }}-{{ id }}');
                var newWidget       = valueList.data('prototype');
                var newJavascript   = valueList.data('javascript-prototype');
                newWidget           = newWidget.replace(/{{ prototype_name }}/g, items{{ name|capitalize }}Count);
                newJavascript       = newJavascript.replace(/{{ prototype_name }}/g, items{{ name|capitalize }}Count);
                {% if 'pre_add' in callbacks|keys %}
                    {{ callbacks.pre_add|raw }}
                {% endif %}

                items{{ name|capitalize }}Count ++;

                {# добавление нового поля и ссылка для его удаления #}
                var newItem = $("<li></li>").append(newWidget);
                valueList.append(newItem);
                {% if allow_delete %}
                    addTagFormDeleteLink{{ name }}($(newItem));
                {% endif %}
                $(newJavascript).appendTo(document.head);
                {% if 'post_add' in callbacks|keys %}
                    {{ callbacks.post_add|raw }}
                {% endif %}
                return false;
            });

            {# добавление ссылки на удаление для существующих значений #}
            {% if allow_delete %}
                $('#edit_{{ name }}-{{ id }} > li').not('ul.errors li').each(function() {
                    addTagFormDeleteLink{{ name }}($(this));
                });
            {% endif %}
        });

        function addTagFormDeleteLink{{ name }}($tagForm) {
            var $removeFormA = $('<a href="#" class="link_icon_mini"><i class="i_delete"></i></a>');
            {% if 'pre_append_delete_link' in callbacks|keys %}
                {{ callbacks.pre_append_delete_link|raw }}
            {% endif %}
            $tagForm.append($removeFormA);

            $removeFormA.on('click', function(e) {
                {% if 'pre_remove' in callbacks|keys %}
                    {{ callbacks.pre_remove|raw }}
                {% endif %}
                e.preventDefault();
                {% if (removing_message is defined) and (removing_message is not empty) %}
                    if (confirm("{{ removing_message|trans({}, translation_domain) }}")) {
                        $tagForm.remove();
                    }
                {% else %}
                    $tagForm.remove();
                {% endif %}
                {% if 'post_remove' in callbacks|keys %}
                    {{ callbacks.post_remove|raw }}
                {% endif %}
            });
        }
    </script>
{% endspaceless %}
{% endblock nlcollection_javascript_ul %}

{% block nlcollection_widget_ul %}
{% spaceless %}
    <ul class="nlcollection" id="edit_{{ name }}-{{ id }}" data-prototype='{{ prototype is defined ? form_widget(prototype)|e('html') : '' }}' data-javascript-prototype="{{ prototype is defined ? form_javascript(prototype)|escape('html') : '' }}">
        {% for child in form %}
            <li>
                {{ form_errors(child) }}
                {{ form_widget(child) }}
            </li>
        {% endfor %}
    </ul>
    {% if prototype is defined %}
        <a class="button_add button_icon i_new" href="#" id="add-{{ name }}-{{ id }}">{{ add_label|trans({}, translation_domain)|trans({}, "NitraNlCollectionBundle") }}</a>
    {% endif %}
{% endspaceless %}
{% endblock nlcollection_widget_ul %}
